html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
}

#header {
    color: White;
    text-align: center;
    background-color: rgb(34, 40, 49);
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid white;
}

h1 {
    margin: 0 auto;
}

.map,
.chart,
.info {
    height: 100%;
    width: 100%;
}

#map {
    height: 500px;
    width: 75%;
    float: left;
}


#information {
    float: left;
    position: relative;
    width: 24%;
    height: 500px;
    /* background-color: rgba(135, 197, 222); */
    background-color: rgb(34, 40, 49);
    padding-left: 1%;

}

/* #weatherInfo {
    position: absolute;
    bottom: 0;
} */

#dropStationInfo {
    background-color: rgb(135, 197, 222);
}


.avail_bikes,
.avail_stands {
    background: #cccccc;
    border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    /* margin-right: 10px; */
    text-align: center;
    width: 1.6em;
    font-size: large;
}

.name {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
}

.avail_bikes {
    background-color: red;
    margin-left: 4%;
    text-align: center;
}

.avail_stands {
    background-color: aquamarine;
    margin-right: 4%;
    text-align: center;
}

#col1,
#col2 {
    /* display: inline-block; */
    text-align: center;
    width: 40%;
    margin-top: 20px;
}

#col1 {
    margin-right: 10%;
    float: left;
}

#col2 {
    float: right;
}

.gm-style-iw {
    width: 300px;
}

img {
    width: 25px;
    height: 22px;
    /* float: right; */
}

#imagediv {
    float: right;
}


#chart_div {
    width: 50vw;
    height: 370px;
}

#dataAnalytics {
    display: inline-block;
    width: 100vw;
    background-color: rgb(85, 96, 112);
    border-top: 2px solid white;
}

/* .gm-style-iw.gm-style-iw-c {
    margin: 0;
    padding: 0;
}

#modal {
    width: 282px;
    height: 100px;
} */

#iconIMG {
    height: 75px;
    width: 75px;
}

#timeDiv {
    color: white;
    width: 100%;
    font-family: Orbitron;
    margin-bottom: 10%;
    font-size: 20px;
}

#stat {
    display: inline;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 35px;
    font-weight: 10;
    font-family: Orbitron;
}

#stationsdropdown {
    background-color: white;
}

p {
    color: white;
    font-size: 20px;
}

button {
    font-size: 16px;
    background-color: rgb(85, 96, 112);
    border: 1px black solid;
    padding-top: 4px;
    padding-bottom: 4px;
}

#nearestInfo {
    padding-bottom: 20px;
}