<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
    <title>
        {{ Title }}
    </title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
    <script src="/static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">



    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

</head>


<body>
    <div id="topdiv">
        <div id="header">
            <h1>Dublin Bikes
            </h1>
        </div>
        <div id="layers">
            <!-- Toggle buttons for dark mode and bicycle layer -->
            <h1>
                <input type="checkbox" id="switch" !checked data-toggle="toggle" data-on='Dark Mode'
                    data-off="Dark Mode" data-onstyle="success" data-offstyle="danger">

                <input type="checkbox" id="switch1" !checked data-toggle="toggle" data-on='Bicycle Layer'
                    data-off="Bicycle Layer" data-onstyle="success" data-offstyle="danger">

            </h1>
        </div>

    </div>
    <!-- Div to hold the map -->
    <div id="map">

    </div>

    <!-- Parent Information Div -->
    <div id="information">

        <!-- Div for dropdown menu -->
        <div id="drop">
            <select id="stations" name="Select Station"></select>
            <div id="predict" style="padding-bottom: 10px">
                <select id="day">
                    <option selected disabled value="">Day</option>
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                </select>
                <select id="time">
                    <option selected disabled value="">Time</option>
                    <option value="5">05:00</option>
                    <option value="6">06:00</option>
                    <option value="7">07:00</option>
                    <option value="8">08:00</option>
                    <option value="9">09:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                    <option value="20">20:00</option>
                    <option value="21">21:00</option>
                    <option value="22">22:00</option>
                    <option value="23">23:00</option>

                </select>
                <button class="predictButton" type="submit">Predict</button>
            </div>
            <div id="dropStationInfo">
            </div>

            <div id="nearestInfo">

            </div>
        </div>



        <div id="timeDiv" onload="showTime()">
            <canvas id="icon1" width="128" height="128"></canvas>
        </div>


        <div id="statusdiv">
        </div>


        <div id="weatherInfo">
            <canvas id="icon1" width="128" height="128"></canvas>
        </div>
    </div>

    <!-- Div for daily and hourly data charts -->
    <div id="dataAnalytics">
        <div id="chart_div" class="chart"></div>
        <div id="hourly_div" class="chart"></div>
    </div>



    <script>
        $(function () {
            $('#switch').change(function () {
                x = ($('#switch').prop('checked'));
                y = ($('#switch1').prop('checked'));

                if (x == true && y == false) {
                    initMapDark()
                }
                if (y == true && x == false) {
                    initMap()
                    bikeLayer = new google.maps.BicyclingLayer();
                    bikeLayer.setMap(map);
                }

                if (x == true && y == true) {
                    initMapDark()
                    bikeLayer1 = new google.maps.BicyclingLayer();
                    bikeLayer1.setMap(map)
                }

                if (x == false && y == false) {
                    initMap()
                }
            })

            $('#switch1').change(function () {
                x = ($('#switch').prop('checked'));
                y = ($('#switch1').prop('checked'));


                if (x == true && y == false) {
                    initMapDark()
                }
                if (y == true && x == false) {
                    initMap()
                    bikeLayer2 = new google.maps.BicyclingLayer();
                    bikeLayer2.setMap(map);
                }

                if (x == true && y == true) {
                    initMapDark()
                    bikeLayer3 = new google.maps.BicyclingLayer();
                    bikeLayer3.setMap(map);


                }
                if (x == false && y == false) {
                    initMap()
                }

            })
        })
    </script>

    <!--------------------------Google Map------------------------------------------->

    <script>
        dark = [{
                elementType: 'geometry',
                stylers: [{
                    color: '#242f3e'
                }]
            },
            {
                elementType: 'labels.text.stroke',
                stylers: [{
                    color: '#000000'
                }]
            },
            {
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#3d8580'
                }]
            },
            {
                featureType: 'administrative.locality',
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#65b5c2'
                }]
            },
            {
                featureType: 'poi',
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#00FFFFFF'
                }]
            },
            {
                featureType: 'poi.park',
                elementType: 'geometry',
                stylers: [{
                    color: '#3e573c'
                }]
            },
            {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#65a86b'
                }]
            },
            {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [{
                    color: '#4B545F'
                }]
            },
            {
                featureType: 'road',
                elementType: 'geometry.stroke',
                stylers: [{
                    color: '#212a37'
                }]
            },
            {
                featureType: 'road',
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#9BA0A6'
                }]
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry',
                stylers: [{
                    color: '#ff9900'
                }]
            },
            {
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [{
                    color: '#1f2835'
                }]
            },
            {
                featureType: 'road.highway',
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#f3d19c'
                }]
            },
            {
                featureType: "road.arterial",
                elementType: "labels",
                stylers: [{
                    visibility: "off"
                }]
            },



            {
                featureType: 'transit',
                elementType: 'geometry',
                stylers: [{
                    color: '#2f3948'
                }]
            },
            {
                featureType: 'transit.station',
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#d59563'
                }]
            },
            {
                featureType: 'water',
                elementType: 'geometry',
                stylers: [{
                    color: '#203361'
                }]
            },
            {
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#515c6d'
                }]
            },
            {
                featureType: 'water',
                elementType: 'labels.text.stroke',
                stylers: [{
                    color: '#ffffff'
                }]
            }
        ]
        currentLocation = [{lat: 53.309089, long: -6.223930}];

        // This function would have been used if we had been able to get SSL certs working on EC2 instance:
        //function success(pos) {
          //  currentLocation.push({
            //    lat: pos.coords.latitude,
             //   long: pos.coords.longitude
           // }, );
       // } 

        //navigator.geolocation.getCurrentPosition(success);

        var map;

        function initMap() {
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            options = {
                zoom: 13,
                center: {
                    lat: 53.347432,
                    lng: -6.269827
                },
            }

            var xmlhttp = new XMLHttpRequest();
            var url = "/occupancy";
            var latitudeArray = [];
            var longitudeArray = [];
            var nameArray = [];
            var numberArray = [];
            var bankingArray = [];
            var totalStandsArray = [];
            var availableBikesArray = [];


            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    data = JSON.parse(xmlhttp.response);
                    
                    for (var j = 0; j < data.length; j++) {
                        latitudeArray.push(data[j].latitude)
                        longitudeArray.push(data[j].longitude)
                        nameArray.push(data[j].name)
                        numberArray.push(data[j].number)
                        bankingArray.push(data[j].banking)
                        totalStandsArray.push(data[j].total_stands)
                        availableBikesArray.push(data[j].available_bikes)


                        var marker = new google.maps.Marker({
                            position: {
                                lat: latitudeArray[j],
                                lng: longitudeArray[j]
                            },
                            map: map,
                            title: nameArray[j],
                            station_number: numberArray[j],
                            banking_marker: bankingArray[j],
                            available: (availableBikesArray[j] / totalStandsArray[j]),
                        })

                        var currentMarker = new google.maps.Marker({
                            position: {
                                lat: currentLocation[0].lat,
                                lng: currentLocation[0].long
                            },

                            map: map,
                            icon: 'http://maps.google.com/mapfiles/ms/micons/blue.png'

                        })
                        // Change colour of markers depending on percentage of available bikes.
                        if (marker.available >= 0.25) {
                            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/green-dot.png');
                        } else if (marker.available > 0) {
                            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/orange-dot.png');
                        } else {
                            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/red-dot.png');
                        }

                        marker.metadata = {
                            type: "point",
                            id: numberArray[j]
                        };
                        var infowindow = new google.maps.InfoWindow({});
                        marker.addListener('click', function () {
                            // Create an InfoWindow for the marker that is clicked, with the station's data.
                            name = this.title;
                            banking_marker = this.banking_marker;
                            infowindow.setContent("");
                            $.getJSON("/dynamicData/" + this.station_number, null,
                                function (data) {
                                    content = "";
                                    available_bikes = data[0].available_bikes;
                                    available_stands = data[0].available_bike_stands;
                                    status = data[0].status;
                                    if (status == "OPEN") {
                                        content += "<p class=name>" + name + "</p>";
                                    } else {
                                        content += "<p class=name>" + name + "</p>";
                                    }

                                    content += "<div id=modal><div id=col1><span class=avail_bikes>" +
                                        available_bikes.toString() + " </span>";
                                    content +=
                                        "<p id=text class=modaltext>Available<br>Bikes</p></div>";
                                    content += "<div id=col2><span class=avail_stands>" +
                                        available_stands.toString() + "</span>";
                                    content +=
                                        "<p id=text class=modaltext>Free<br>Stands</p></div></div>";

                                    content +=
                                        "<div id=imagediv><img src=https://salonproff.ie/wp-content/uploads/2017/05/visa-logo-png-image-4.png>"
                                    content += "<img src='/static/mastercard.png'>";
                                    if (banking_marker == "True") {
                                        content += "<img src='/static/banking.png'>";
                                    } else if (banking_marker == "False") {
                                        content += "<img src='/static/nobanking.png'>";
                                    }
                                    infowindow.setContent(content);
                                })

                            infowindow.open(map, this);
                            // Call the two functions to draw daily and hourly charts for specific station.
                            dailyGraph(this.station_number, name);
                            hourlyGraph(this.station_number, name);
                            var loader =
                                "<p><img src='/static/images/Infinity-1s-200px.gif' class='loader'></p>"
                            document.getElementById('chart_div').innerHTML = loader;
                            document.getElementById('hourly_div').innerHTML = loader;
                        });
                    }
                }
            }
            xmlhttp.open("GET", url, true);
            xmlhttp.send();

            map = new google.maps.Map(document.getElementById('map'), options);
            directionsRenderer.setMap(map);
        }



        function initMapDark() {
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();


            optionsDark = {
                zoom: 13,
                center: {
                    lat: 53.347432,
                    lng: -6.269827
                },
                styles: dark
            }

            var xmlhttp = new XMLHttpRequest();
            var url = "/occupancy";
            var latitudeArray = [];
            var longitudeArray = [];
            var nameArray = [];
            var numberArray = [];
            var bankingArray = [];
            var totalStandsArray = [];
            var availableBikesArray = [];


            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    data = JSON.parse(xmlhttp.response);
        
                    for (var j = 0; j < data.length; j++) {
                        latitudeArray.push(data[j].latitude)
                        longitudeArray.push(data[j].longitude)
                        nameArray.push(data[j].name)
                        numberArray.push(data[j].number)
                        bankingArray.push(data[j].banking)
                        totalStandsArray.push(data[j].total_stands)
                        availableBikesArray.push(data[j].available_bikes)


                        var marker = new google.maps.Marker({
                            position: {
                                lat: latitudeArray[j],
                                lng: longitudeArray[j]
                            },
                            map: map,
                            title: nameArray[j],
                            station_number: numberArray[j],
                            banking_marker: bankingArray[j],
                            available: (availableBikesArray[j] / totalStandsArray[j]),
                        })

                        var currentMarker = new google.maps.Marker({
                            position: {
                                lat: currentLocation[0].lat,
                                lng: currentLocation[0].long
                            },

                            map: map,
                            icon: 'http://maps.google.com/mapfiles/ms/micons/blue.png'

                        })
                        // Change colour of markers depending on percentage of available bikes.
                        if (marker.available >= 0.25) {
                            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/green-dot.png');
                        } else if (marker.available > 0) {
                            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/orange-dot.png');
                        } else {
                            marker.setIcon('http://maps.google.com/mapfiles/ms/micons/red-dot.png');
                        }

                        marker.metadata = {
                            type: "point",
                            id: numberArray[j]
                        };
                        var infowindow = new google.maps.InfoWindow({});
                        marker.addListener('click', function () {
                            // Create an InfoWindow for the marker that is clicked, with the station's data.
                            name = this.title;
                            banking_marker = this.banking_marker;
                            infowindow.setContent("");
                            $.getJSON("/dynamicData/" + this.station_number, null,
                                function (data) {
                                    content = "";
                                    available_bikes = data[0].available_bikes;
                                    available_stands = data[0].available_bike_stands;
                                    status = data[0].status;
                                    if (status == "OPEN") {
                                        content += "<p class=name>" + name + "</p>";
                                    } else {
                                        content += "<p class=name>" + name + "</p>";
                                    }

                                    content += "<div id=modal><div id=col1><span class=avail_bikes>" +
                                        available_bikes.toString() + " </span>";
                                    content +=
                                        "<p id=text class=modaltext>Available<br>Bikes</p></div>";
                                    content += "<div id=col2><span class=avail_stands>" +
                                        available_stands.toString() + "</span>";
                                    content +=
                                        "<p id=text class=modaltext>Free<br>Stands</p></div></div>";

                                    content +=
                                        "<div id=imagediv><img src=https://salonproff.ie/wp-content/uploads/2017/05/visa-logo-png-image-4.png>"
                                    content += "<img src='/static/mastercard.png'>";
                                    if (banking_marker == "True") {
                                        content += "<img src='/static/banking.png'>";
                                    } else if (banking_marker == "False") {
                                        content += "<img src='/static/nobanking.png'>";
                                    }
                                    infowindow.setContent(content);
                                })

                            infowindow.open(map, this);
                            // Call the two functions to draw daily and hourly charts for specific station.
                            dailyGraph(this.station_number, name);
                            hourlyGraph(this.station_number, name);
                            var loader =
                                "<p><img src='/static/images/Infinity-1s-200px.gif' class='loader'></p>"
                            document.getElementById('chart_div').innerHTML = loader;
                            document.getElementById('hourly_div').innerHTML = loader;
                        });
                    }
                }
            }
            xmlhttp.open("GET", url, true);
            xmlhttp.send();

            map = new google.maps.Map(document.getElementById('map'), optionsDark);
            directionsRenderer.setMap(map);
        }




        function calcRoute() {  

            var request = {
                origin: {
                    lat: currentLocation[0].lat,
                    lng: currentLocation[0].long

                },

                destination: {                   

                    lng: currentLocation.pop(),
                    lat: currentLocation.pop()
                },
                travelMode: 'WALKING'
            };
            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                }
            });
        }
    </script>

    <!-------------------------- Dropdown Menu ------------------------------------------->
    <script>
        var xmlhttp1 = new XMLHttpRequest();
        var url1 = "/stations";
        var dropdownName = [];
        var dropdownValue = [];
        var totalStands = [];
        var defaultValue = "Select Station";
        xmlhttp1.onreadystatechange = function () {
            if (xmlhttp1.readyState == 4 && xmlhttp1.status == 200) {
                dropdownData = JSON.parse(xmlhttp1.responseText);
                for (var j = 0; j < dropdownData.length; j++) {
                    dropdownName.push(dropdownData[j].name)
                    dropdownValue.push(dropdownData[j].number)
                    totalStands.push(dropdownData[j].total_stands)
                }
            }
            dropDownMenu = "<option selected disabled value=" + defaultValue + ">" + defaultValue + "</option>";
            for (var i = 0; i < dropdownName.length; i++) {
                dropDownMenu += "<option value=" + dropdownValue[i] + " id=" + totalStands[i] + ">" + dropdownName[
                    i] + "</option>";
            }
            document.getElementById("stations").innerHTML = dropDownMenu;
        }
        xmlhttp1.open("GET", url1, true);
        xmlhttp1.send();
    </script>

    <!--------------------------- Prediction ----------------------------------------->

    <script>
        $(".predictButton").click(function () {
            // Get a prediction for abike availability based on station number, day, hour, total number of stands.
            var daySelect = document.getElementById("day");
            var day = daySelect.value;
            var hourSelect = document.getElementById("time");
            var hour = hourSelect.value;
            var stationSelect = document.getElementById("stations");
            var station = stationSelect.value;
            var totalstands = stationSelect.options[stationSelect.selectedIndex].id;

            $.getJSON("/predict/" + station + "/" + day + "/" + hour + "/" + totalstands,
                null,
                function (prediction) {
                    // Display the predicted number of bikes in the dropStationInfo div.
                    var predictionInfo = document.getElementById("dropStationInfo");
                    var bikes = "bikes";
                    if (prediction.availability == 1) {
                        bikes = "bike";
                    }
                    predictionInfo.innerHTML = "<p>" + daySelect.options[daySelect.selectedIndex].text +
                        " at " + hourSelect.options[hourSelect.selectedIndex].text + " --- " + prediction
                        .availability + " " + bikes + "</p>"
                })
        });
    </script>

    <!--------------------------- DropDown Display ----------------------------------------->

    <script>
        var sel = document.getElementById("stations");
        sel.addEventListener("change", myFunction);

        function myFunction() {
            var predictionInfo = document.getElementById("dropStationInfo");
            predictionInfo.innerHTML = "";
            bikeInfo = "";
            value = sel.value;
            selectStation = $("#stations option:selected").text();
            // Call functions to draw daily and hourly charts for selected station.
            dailyGraph(value, selectStation);
            hourlyGraph(value, selectStation);

            // Display gifs while each chart is loading.
            var loader = "<p><img src='/static/images/Infinity-1s-200px.gif' class='loader'></p>"
            document.getElementById('chart_div').innerHTML = loader;
            document.getElementById('hourly_div').innerHTML = loader;

            $.getJSON("/dynamicData/" + value, null, function (info) {
                available_bikes = info[0].available_bikes;
                available_stands = info[0].available_bike_stands;
                status = info[0].status;
                bikeInfo += "<p><button onclick='dropDownRoute()' >Directions</button></p>"
                bikeInfo += "<div id=col1><span class=avail_bikes style=margin:0; >" + available_bikes +
                    "</span><p>Available<br>Bikes</p></div>";
                bikeInfo += "<div id=col2><span class=avail_stands style=margin:0; >" + available_stands +
                    "</span>";

                bikeInfo += "<p>Free<br>Stands</p></div>";

                document.getElementById('nearestInfo').innerHTML = bikeInfo;

            })

        }
    </script>

    <!-------------------------- Current Weather ------------------------------------------->
    <script>
        var weather;
        var weatherDisplay = "";
        var statusDisplay = "";

        $.getJSON("/weather", null, function (weather) {

            function showTime() {
                var today = new Date();  
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();

                h = (h < 10) ? "0" + h : h;
                m = (m < 10) ? "0" + m : m;
                s = (s < 10) ? "0" + s : s;

                var time = h + ":" + m + ":" + s;
                document.getElementById('timeDiv').innerText = time;

                setTimeout(showTime, 1000);


            }
            showTime();


            var iconDict = [{
                    icon: 'rain',
                    image: "<img div id='iconIMG' src='/static/images/rain.png'"
                },
                {
                    icon: 'partly-cloudy-day',
                    image: "<img div id='iconIMG' src='/static/images/partcloudy.png'>"
                },
                {
                    icon: 'cloudy',
                    image: "<img div id='iconIMG' src='/static/images/cloud.png'>"
                },
                {
                    icon: 'wind',
                    image: "<img div id='iconIMG' src='/static/images/wind.png'"
                },
                {
                    icon: 'partly-cloudy-night',
                    image: "<img div id='iconIMG' src='/static/images/cloudynight.png'>"
                },
                {
                    icon: 'clear-night',
                    image: "<img div id='iconIMG' src='/static/images/clearnight.png'"
                },
                {
                    icon: 'clear-day',
                    image: "<img div id='iconIMG' src='/static/images/clearday.png'"
                }
            ];

            for (var c = 0; c < iconDict.length; c++) {
                if (iconDict[c].icon == weather[0].icon) {
                    statusDisplay += "<p id=stat>" + iconDict[c].image + "</p>";
                }
            }
            statusDisplay += "<p id=stat>" + weather[0].temp + " &#8451</p>"

            document.getElementById("statusdiv").innerHTML = statusDisplay;


            weatherDisplay += "<p>" + '' + "</p>"
            weatherDisplay += "<p> Status: " + weather[0].status + "</p>"
            weatherDisplay += "<p> Chance of rain: " + (weather[0].rainProb * 100) + "%</p>"
            weatherDisplay += "<p>Wind Speed: " + weather[0].windSpeed + " km/h</p>"
            document.getElementById("weatherInfo").innerHTML = weatherDisplay;

        })
    </script>

    <!-------------------------- GeoLocation ------------------------------------------->

    <script>
        var long = [];
        var lat = [];
        var dict = [];
        var distanceArray = [];



        function coordinates() {
            var xmlhttp1 = new XMLHttpRequest();
            var url = "/stations";
            xmlhttp1.onreadystatechange = function () {
                if (xmlhttp1.readyState == 4 && xmlhttp1.status == 200) {
                    coorddata = JSON.parse(xmlhttp1.responseText);
                    for (var j = 0; j < coorddata.length; j++) {
                        key = coorddata[j].name,
                            latitude = coorddata[j].latitude,
                            longitude = coorddata[j].longitude,
                            currentLat = currentLocation[0].lat,
                            currentLong = currentLocation[0].long

                        // currentLat = 53.347122;
                        // currentLong = -6.260975;

                        distance = distancepoints(currentLat, currentLong, coorddata[j].latitude, coorddata[j]
                            .longitude);

                        distanceArray.push({
                            name: key,
                            dist: distance / 1000
                        });
                    }
                    var newDist;

                    function degreesToRadians(degrees) {
                        return degrees * Math.PI / 180;
                    }

                    function distancepoints(lat1, lng1, lat2, lng2) {


                        var R = 6378137;
                        let dLat = degreesToRadians(currentLat - lat2);
                        let dLong = degreesToRadians(currentLong - lng2);
                        let a = Math.sin(dLat / 2) *
                            Math.sin(dLat / 2) +
                            Math.cos(degreesToRadians(lat1)) *
                            Math.cos(degreesToRadians(lat1)) *
                            Math.sin(dLong / 2) *
                            Math.sin(dLong / 2);

                        let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                        let distance = R * c;
                        return distance / 1000;
                    }


                    distance1 = distancepoints(currentLat, currentLong, coorddata[0].latitude, coorddata[0]
                        .longitude);

                    for (var r = 0; r < coorddata.length; r++) {
                        distance2 = distancepoints(currentLat, currentLong, coorddata[r].latitude, coorddata[r]
                            .longitude);
                        if (distance2 < distance1) {
                            newDist = distance2.toFixed(2);
                            var distance1 = distance2
                            var name = coorddata[r].name
                            directionLat = coorddata[r].latitude
                            directionLong = coorddata[r].longitude
                            currentLocation.push(directionLat)
                            currentLocation.push(directionLong)
                        }
                    }

                    nearest = "<p>Nearest Station:" + " <button onclick='calcRoute()' >Directions</button></p>";
                    // nearest += "<p>" + name + ": " + newDist + " km away</p>";
                    if (newDist < 1) {
                        // Need metres not km.
                        console.log("Less than 1 km");
                        nearest += "<p>" + name + ": " + newDist * 1000 + " meters away.</p>";
                    } else {
                        nearest += "<p>" + name + ": " + newDist + " km away</p>";
                    }



                    document.getElementById("nearestInfo").innerHTML = nearest;

                }

            }

            xmlhttp1.open("GET", url, true);
            xmlhttp1.send();
        }
        coordinates();
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSEIwAGX4ZvK2nEsFYMf1xjalFmwQcGCM&callback=initMap">
    </script>
</body>

</html>