<!DOCTYPE html>
<html>
<head>
    <title>Google Map</title>
    <style>
        #map {
            height: 600px;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>

        function initMap() {
            var options = {
                zoom: 13,
                center: {
                    lat: 53.347432,
                    lng: -6.269827
                }
            }
            var map = new google.maps.Map(document.getElementById('map'), options);

        
            }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSEIwAGX4ZvK2nEsFYMf1xjalFmwQcGCM&callback=initMap"
        async defer>
    </script>
</body>

</html>